@use '../../mixins.scss' as mixins;

.profile {
  background-color: var(--color-primary);
  padding-top: 136px;
  padding-bottom: 100px;
  z-index: 1;

  .container {
    @include mixins.small-viewport;
    @include mixins.mini-viewport;
    @include mixins.medium-viewport;
    @include mixins.large-viewport;
    @include mixins.ultra-large-viewport;
    position: relative;
  }

  @media (max-width: 768px) {
    padding-top: 120px;
  }

  @media (max-width: 320px) {
    padding-bottom: 80px;
    padding-top: 103px;
  }

  .actionWrapp {
    margin-bottom: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    .actionEditWrapp > button:first-of-type {
      margin-right: 20px;
    }

    .backLink {
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      font-size: 12px;
      text-transform: uppercase;
      line-height: 14.52px;
      font-family: var(--font-family-paragraph);
      color: var(--color-primary-grey);
      font-weight: var(--font-weght-bold);

      .backIcon {
        margin-right: 16px;
      }
    }

    .backLinkMini {
      display: none;

      @media (min-width: 320px) {
        display: block;
      }
    }
  }
}
