@import '../../index.scss';

.toast {
  width: 441px;
  max-width: 90%;
  padding: 20px 0px 20px 40px;
  background-color: var(--color-background-toasts);
  border: 1px solid var(--color-inputs-border);
  border-left: 8px solid var(--color-accent-error);
  position: fixed;
  bottom: 0;
  right: 0;
  font-family: var(--font-family-paragraph);

  .toastHeading {
    color: var(--color-accent-error);
    font-weight: var(--font-weight-medium);
    font-size: 16px;
    margin-bottom: 8px;
    display: flex;
    align-items: flex-start;

    .errorImg {
      display: inline-block;
      margin-right: 8px;
      
      @media (max-width: 768px) {
        display: none;
      }
    }
  }

  .toastText {
    color: var(--color-primary-grey);
    line-height: 140%;
    font-weight: 300;
    font-size: 12px;
    display: flex;
    align-items: center;

    .errorImg {
      margin-right: 8px;
      display: none;

      @media (max-width: 768px) {
        display: inline-block;
      }
    }
  }

  .toastCloseIcon {
    position: absolute;
    top: 16px;
    right: 16px;
    width: 16px;
    height: 16px;
    cursor: pointer;

    @media (max-width: 320px) {
      top: 8px;
      right: 8px;
      width: 8px;
      height: 8px;
    }
  }

  @media(max-width: 320px){
    width: 320px;
    max-width: 90%;

    .toastHeading {
      display: none;
    }

    .toastText {
      display: flex;
      align-items: flex-start;
    }

    .errorImg {
      display: inline-block;
      margin-right: 8px;
      line-height: 140%;
    }
  }
}

@media (max-width: 320px) {
  .toast{
    border-left: none;
  }
}

.showToast {
  display: none;
}