@import '../index.scss';

.main {
  padding-top: 180px;
  padding-bottom: 100px;
  background-color: var(--color-primary);
  min-height: 100vh;
  z-index: 1;

  .menuShow {
    overflow: hidden;
  }

  @media (max-width: 320px) {
    padding-bottom: 80px;
    padding-top: 80px;
  }

  .editWrapp {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px !important;
    @include mini-viewport;
    @include small-viewport;
    @include medium-viewport;
    @include large-viewport;
    @include ultra-large-viewport;

    .searchWrapp {
      & > form {
        margin-right: 26px;
      }
    }
  }
}
