.main {
  padding-bottom: 80px;
  padding-top: 104px;
  background-color: var(--color-primary);
  min-height: 100vh;

  @media (min-width: 768px) {
    padding-bottom: 100px;
    padding-top: 136px;
  }

  @media (min-width: 1440px) {
    padding-top: 128px;
  }
}
