@use '../../mixins.scss' as mixins;

.list {
  display: grid;
  list-style-type: none;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));

  & li:not(:last-of-type) {
    margin-bottom: 20px;
  }

  @include mixins.mini-viewport {
    grid-template-columns: 1fr;
  }

  @include mixins.small-viewport;
  @include mixins.medium-viewport;
  @include mixins.large-viewport;
  @include mixins.ultra-large-viewport;
}
