@use '../../mixins.scss' as mixins;

.footer {
  background-color: var(--color-primary);
  padding-top: 40px;
  padding-bottom: 40px;
  .container {
    display: flex;
    justify-content: space-between;

    @include mixins.small-viewport;
    @include mixins.mini-viewport;
    @include mixins.medium-viewport;
    @include mixins.large-viewport;
    @include mixins.ultra-large-viewport;

    @media (max-width: 728px) {
      flex-direction: column;
      .socNetWorksList {
        margin-top: 20px;
      }
    }

    .projectInfoSignature {
      font-weight: var(--font-weight-light);
      font-family: var(--font-family-paragraph);
      color: var(--color-primary-grey);
      font-size: 16px;
      line-height: 22.4px;
      max-width: 485px;

      .projectInfo {
        margin-bottom: 20px;
      }

      .projectSignature {
        font-weight: var(--font-weight-light);
      }
    }

    .socNetWorksList {
      display: grid;
      grid-template-columns: repeat(3, 24px);
      grid-gap: 20px;
      justify-content: flex-start;
      list-style-type: none;
    }
  }
}
