@import '../../index.scss';

.search {
  font-size: 12px;
  line-height: 16.8px;
  font-family: var(--font-family-paragraph);
  font-weight: 300;
  display: inline-block;
  position: relative;

  .searchIput {
    padding: 7.5px 52px;
    background-color: var(--color-secondary);
    border: 1px solid var(--color-inputs-border);
    color: var(--color-primary-grey);
    border-radius: 4px;
    &:hover {
      border: 1px solid var(--color-inputs-border-hover);
    }
    &:focus {
      border: 1px solid var(--color-primary-grey);
    }
  }
}

.blurSearch {
  text-overflow: ellipsis;
}

.searchError {
  border: 1px solid var(--color-accent-error);
  &:hover, &:focus{
    border: 1px solid var(--color-accent-error);
  };
}

.errorText {
  color: var(--color-accent-error);
  font-size: 12px;
  font-family: var(--font-family-paragraph);
  line-height: 140%;
  margin-top: 7px;
  display: flex;
  align-items: center;
  
  .errorImg {
    margin-right: 8px;
    display: block;
  }
}

.searchBtn {
  background: none;
  border: none;
  position: absolute;
  left: 20px;
  top: 8px;
  cursor: pointer;
}

.cleanSearchBtn {
  display: block;
  position: absolute; 
  top: 12px;
  right: 12px;
  cursor: pointer;
}
