@import-normalize;
@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@500;600;700&family=Inter:wght@300;500;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  vertical-align: baseline;
  outline: none;
}
.overflowHidden {
  overflow: hidden;
}

:root {
  --font-family-heading: 'Cormorant SC', serif;
  --font-family-paragraph: 'Inter', sans-serif;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --heading-first-font-size: 60px;
  --heading-second-font-size: 48px;
  --heading-third-font-size: 32px;
  --heading-forth-font-size: 32px;
  --paragraph-base-font-size: 16px;
  --paragraph-small-font-size: 12px;
  --paragraph-tiny-font-size: 8px;
  --color-primary-white: #fff;
  --color-primary-black: #121212;
  --color-primary-lightGrey: #dedede;
  --color-primary-darkGrey: #575757;
  --color-secondary-white: #fcfcfc;
  --color-secondary-black: #1a1818;
  --color-secondary-lightBlack: #242222;
  --color-secondary-grey: #9c9c9c;
  --color-accent-red: #9b4b4b;
  --color-accent-gold: #ab8956;
  --color-accent-error: #ae2917;
  --box-shadow-gold: 0px 4px 10px rgba(171, 137, 86, 0.25);
  --box-shadow-black: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

html[data-theme='light'] {
  --color-primary: #fff;
  --color-primary-grey: #575757;
  --color-primary-heading: #121212;
  --color-primary-hover: #121212;
  --color-secondary: #fcfcfc;
  --color-accent: #9b4b4b;
  --color-inputs-border: #dedede;
  --color-inputs-border-hover: #9c9c9c;
  --color-background-labels: rgba(18, 18, 18, 0.05);
  --color-background-toasts: #fcfcfc;
  --color-background-srollbar: #f5f5f5;
  --color-background-checkbox: #fcfcfc;
  --color-background-currentPage: rgba(18, 18, 18, 0.05);
  --color-background-multiSelect-list: #fff;
  --color-text-auth: #575757;
  --color-default-background-btn: #121212;
  --color-boxShadow-default-btn: 0px 4px 10px rgba(0, 0, 0, 0.25);
  --color-profile-label: #575757;
  --color-background-popup: rgba(3, 3, 3, 0.3);
  --color-background-dropFile: #dedede;
  --color-dropFile-text: #1a1818;
}

html[data-theme='dark'] {
  --color-primary: #121212;
  --color-primary-grey: #dedede;
  --color-primary-heading: #dedede;
  --color-primary-hover: #fff;
  --color-secondary: #1a1818;
  --color-accent: #ab8956;
  --color-inputs-border: #121212;
  --color-inputs-border-hover: #575757;
  --color-background-labels: rgba(205, 205, 205, 0.05);
  --color-background-toasts: #1a1818;
  --color-background-srollbar: #1a1818;
  --color-background-checkbox: #121212;
  --color-background-currentPage: #1a1818;
  --color-background-multiSelect-list: #1a1818;
  --color-text-auth: #fff;
  --color-default-background-btn: #ab8956;
  --color-boxShadow-default-btn: 0px 4px 10px rgba(171, 137, 86, 0.25);
  --color-profile-label: #9c9c9c;
  --color-background-popup: rgba(3, 3, 3, 0.6);
  --color-background-dropFile: rgba(255, 255, 255, 0.4);
  --color-dropFile-text: rgba(255, 255, 255, 0.4);
}
