@import '../index.scss';
.footer {
  background-color: var(--color-primary);  
  padding-top: 40px;
  padding-bottom: 40px;
  
  .container {
    display: flex;
    justify-content: space-between;

    @include small-viewport;
    @include mini-viewport;
    @include medium-viewport;
    @include large-viewport;
    @include ultra-large-viewport;
    
    @media (max-width: 728px) {
      flex-direction: column;
      .socNetWorksList {
          margin-top: 20px;
      }
    }

    .projectInfoSignature {
      font-weight: var(--font-weight-medium);
      font-family: var(--font-family-paragraph);
      color: var(--color-primary-grey); 
      font-size: 16px;
      line-height: 22.4px;
      max-width: 485px;

      .projectInfo {
          margin-bottom: 20px;
      }

      .projectSignature {
          font-weight: 300;
      }
    }

    .socNetWorksList {
      display: flex;
      justify-content: flex-start;
      list-style-type: none;
      
      .socNetWorksListes {
          cursor: pointer;
      }

      .socNetWorksListes:not(:last-of-type) {
          margin-right: 20px;
      }
    }
  }
}