.auth {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(3, 3, 3, 0.6);
  text-align: center;
  z-index: 4;
}

.authContent {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 700px;

  @media (max-width: 768px) {
    width: inherit;
    height: 100vh;
  }

  .signUpBackgroundImg {
    height: inherit;

    @media (max-width: 850px) {
      & {
        display: none;
      }
    }
  }

  .validationWrapp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-background-checkbox);
    padding: 95px;
    height: inherit;

    @media (max-width: 1200px) {
      & {
        padding: 45px;
      }
    }

    @media (max-width: 768px) {
      width: inherit;
      height: inherit;
    }

    @media (max-width: 320px) {
      padding: 30px;
    }

    .validationHeading {
      font-family: var(--font-family-heading);
      font-weight: var(--font-weight-medium);
      color: var(--color-text-auth);
      margin-bottom: 20px;
      font-size: 48px;
      line-height: 100%;

      @media (max-width: 768px) {
        font-size: 60px;
        line-height: 73px;
        margin-bottom: 40px;
      }

      @media (max-width: 320px) {
        font-size: 32px;
        line-height: 100%;
      }
    }

    .link {
      font-family: var(--font-family-paragraph);
      color: var(--color-text-auth);
      font-weight: 300;
      margin-bottom: 60px;
      text-align: center;

      @media (max-width: 320px) {
        display: none;
      }
    }

    .linkMobile {
      display: none;

      @media (max-width: 320px) {
        display: block;
        margin-top: 60px;
        font-size: 12px;
      }
    }

    .goTo {
      background: none;
      border: none;
      text-decoration: underline;
      font-size: 16px;
      line-height: 140%;
      color: var(--color-text-auth);
      font-family: var(--font-family-paragraph);
      font-weight: var(--font-weight-medium);
      cursor: pointer;

      &:hover {
        color: var(--color-text-auth);
      }
    }

    .validationForm {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      justify-self: center;
      text-align: left;

      & > div:not(:last-of-type) {
        margin-bottom: 32px;

        @media (min-width: 768px) {
          margin-bottom: 40px;
        }
      }

      & > div:last-of-type {
        margin-bottom: 60px;
      }

      @media (min-width: 768px) {
        width: 340px;
      }
    }

    .closeIcon {
      position: absolute;
      top: 36px;
      right: 36px;
      cursor: pointer;

      @media (max-width: 768px) {
        right: 24px;
      }

      @media (max-width: 320px) {
        top: 24px;
      }
    }
  }
}
