.sliderWrapp {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-background-popup);

  .slider {
    overflow: hidden;
    width: 100%;
    height: 100vh;
    max-width: 1024px;
    position: relative;

    @media (min-width: 1024px) {
      height: 719px;
    }
    @media (min-width: 1440px) {
      height: 800px;
    }

    .sliderList {
      white-space: nowrap;
      transition: ease 1s;
      height: inherit;
      width: inherit;
    }

    .sliderControlWrapp {
      position: absolute;
      display: none;
      justify-content: center;
      align-items: center;
      height: inherit;
      z-index: 1;
      cursor: pointer;

      @media (min-width: 768px) {
        display: flex;
      }

      &:hover .slideIcon {
        fill: #ffffff;
      }
    }

    .left {
      left: 0;
      padding-left: 9px;
    }
    .right {
      right: 0;
      padding-right: 9px;
    }
  }
}
